[Unit]
Description=Run fixBrokenSymlinks to ensure scripts remain available

[Install]
WantedBy=graphical.target

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/local/sbin/fixBrokenScriptSymlinks -v
