:root {
/**********************************/
/**** TAB BAR VARIABLES *******/
/*********************************/
    --bg-dark: black;
    --bg-light: #464a53;
    --fg-dark: black;
    --fg-light: white;
    --tab-fonts: "Ubuntu Mono";
    --tab-font-size: 10pt;
    --tab-text-align: center;
    --tab-min-height: 10px !important;
    --page-border-surround: #e89609;
    --tab-selected-border: #e89609;
    --tab-selected-text-color: #e89609;

/**********************************/
/**** URL BAR VARIABLES *******/
/*********************************/
    --url-background: var(--bg-dark);
    --url-foreground: var(--fg-light);
    --url-fonts: "Ubuntu Mono";
    --url-font-size: 16pt;
    --url-text-align: center;
}

/*********************************/
/**** General Browser Config****/
/*********************************/

/*Window borders for content area*/
#browser {
 border-left:0px solid var(--page-border-surround) !important;
 border-right:0px solid var(--page-border-surround) !important;
 border-bottom: 0px solid var(--page-border-surround) !important;
 border-top:  0px solid var(--page-border-surround) !important;
 margin-right: -16px;
}

/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}

/* Remove white border on bookmarks bar */
#sidebar-splitter {
    margin-bottom: 33px;
  display: none !important;
}

.titlebar-buttonbox-container {
	display: none;
}

#home-button, ##PanelUI-menu-button, #downloads-button, #bookmarks-button {
    display: none !important;
}

/*********************************/
/**** MENU BAR CONFIG ****/
/*********************************/
#navigator-toolbox, #main-window[sizemode="normal"] #navigator-toolbox, #main-window[sizemode="maximized"] #navigator-toolbox {
    box-shadow: none !important;
}

/*********************************/
/**** TAB BAR CONFIG ****/
/*********************************/
tab, .tabbrowser-tabs *|tab {
    background: var(--bg-dark) !important;
    color: var(--fg-light) !important;
    font-family: var(--tab-fonts) !important;
    font-size: var(--tab-font-size);
    text-shadow: none !important;
    text-align: var(--tab-text-align) !important;
}

/**** Center tab text as of FFv89 ****/
.tab-label-container{ -moz-box-pack: center;}

/**** TAB LABEL ****/
.tab-label {
    text-align: var(--tab-text-align) !important;
}

/**** TAB WIDTH ****/
.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 12vw;
    max-width:  18vw;
    max-height: 26px;
}

/**** TAB SELECTED ****/
.tab-background-middle[selected="true"], .tabbrowser-tab[selected="true"], .tabbrowser-tab[selected="true"]:hover {
    background: var(--bg-dark) !important;
    color: var(--tab-selected-text-color) !important;
    border-left: 1px solid var(--tab-selected-border) !important;
    border-right: 1px solid var(--tab-selected-border) !important;
    border-top: 1px solid var(--tab-selected-border) !important;
    border-bottom: 1px solid var(--tab-selected-border) !important;
}

/**** TAB HOVER****/
.tabbrowser-tab[selected="true"][pinned="true"]:hover, .tabbrowser-tab:not([pinned]):hover, .tabs-newtab-button:hover {
    background: var(--bg-light) !important;
    color: var(--tab-selected-text-color) !important;
}

/**** NEW TAB UP LINE****/
.tabbrowser-tab *{
    background: black !important;
    list-style-image: none !important;
    margin: 0 0 0 0  !important;
    padding: 5 0 0 0 !important;
    -moz-appearance: none !important;
}

/**** TAB SEPARATOR****/
#TabsToolbar .tab-background {
    background: black !important;
}

/**** TAB ICONS****/
.tab-icon-image {
    display: none !important;
}

#tabbrowser-tabs #tabs-newtab-button {
    visibility: collapse !important;
}


/*********************************/
/**** URL BAR CONFIG ****/
/*********************************/
#urlbar, .searchbar-textbox, urlbar-container {
    background-color: black !important;
    color: lightblue !important;
    font-family: var(--url-fonts) !important;
    font-size: var(--url-font-size);
    text-shadow: none !important;
    text-align: center !important;
    border: none !important;
    box-shadow: none !important;
}

:root[privatebrowsingmode="temporary"] {

}

#nav-bar[id], #PersonalToolbar[id], #web-developer-toolbar[id], #navigator-toolbox[tabsontop="false"] > #nav-bar[id], #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id], #navigator-toolbox[tabsontop="false"] > #nav-bar[id], #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id] {
    background-image: none !important;
    background: var(--url-background) !important;
    background-color: var(--url-background) !important;
    margin-top: 0px !important;
    border-top: 0px !important;
    border-bottom: none !important;
}

:root:not([customizing]) #TabsToolbar {
  margin-bottom: 0vw !important;
  margin-top: 27px;
  margin-left: 0vw !important;
  margin-right: 0vw !important;
  max-height: 0px !important;
  position: fixed; top: 0;
  z-index: 1;
  width: 110vw;
}

:root:not([customizing]) #nav-bar {
  position: fixed; top: 0;
  z-index: 0;
  margin-bottom: 0vw !important;
  margin-top: 0vw !important;
  margin-left: 0vw !important;
  margin-right: 0vw !important;
  --lwt-toolbar-field-background-color: black !important;
}

:root:not([customizing]) #nav-bar:focus-within {
    z-index: 1000;
    visibility: visible !important;
}

/**** URL BUTTONS (DEFAULT=NONE) ****/
#forward-button, #back-button, #PanelUI-menu-button, #PanelUI-button, .restore-tabs-button {
    display: none !important;
}

#navigator-toolbox {
    margin-top: -41px;
}

#navigator-toolbox:focus-within {
    margin-top: 0px;
}
